<header class="header-style">
    <button class="boton-menu">
        <strong>Boton-Menu</strong>
    </button>
    <nav id="menu-principal">
      <ul>
        <li><a href="#">Lista Vehiculos</a></li>
      </ul>
    </nav>
    <form>
        <div class="contenedor-buscar">
            <input class="input-search" type="search" placeholder="Buscar Vehiculo Por Placa..." />
            <input class="input-submit-search" type="submit" value="Buscar"/>
        </div>
    </form>
    <button class="boton-buscar">
        <strong>Boton-Buscar</strong>  <span class="badge badge-primary"></span>
 </button>
</header>
