@import "~src/app/scss/styles-variables";
@import  "~src/app/scss/variables.scss";

.tipo-carro{
    width: 10px;
    height: 10px;
    border-color: aliceblue;
}

.img-vehiculo{
    width: 100px;
    height: 100px;
    background-color: $primary-color;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 13px double #000000;
}