$font-stack:    Helvetica, sans-serif;

$primary-color: #E3E9EF;
$secondary-color: #C8E0D4;
$tertiary-color: #5e9683;
$quaternary-color: #D4453B;
$quinary-color: #FEAF83;
$senary-color: #FCEBE2;

//Second theme
$primary-color2: #4E5D47;
$secondary-color2: #272C33;
$tertiary-color2: #422938;
$quaternary-color2: #7C364D;
$quinary-color2: #F86F7B;
$senary-color2: #FFDECB;
